.hidden{
    display: none;
}

body{
    height: 100vh;
}

header{
    width: 1200px;
    margin-bottom: 26px;

    box-shadow: 0px 0px 6px 0px RGBA(0,0,0,0.3);
}

.header-bottom-md{
    display: none;
}

.header-bottom{
    height: 68px;
    margin-top: -25px;
}

.main-header > .header-top-wrap,
.main-header > .header-bottom-wrap{
    margin: 0px -15px 0 -15px;
}

a{
    text-decoration: none;
}

.header-top-wrap{
    height: 40px;
    border: 1px solid #e9e9e9;

    background-color: #f2f1f1;
}

.header-top{
    height: 100%;
    padding: 6px 0px 10px 166px;
}

.header-top .details{
    margin-left: 9px;
}

.phone{
    margin-left: 125px;
}

.time-work{
    margin-left: 113px;
}

.ico-location{
    width: 9px;
    height: 12px;
    margin-top: 8px;

    background-image: url("../img/location.png");

    float: left;
}

.location{
    padding-left: 10px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}

.header-bottom-wrap{
    height: 66px;
    border: 1px solid #e9e9e9;
}

.wrapper-xl{
    height: 35px;
}

.header-nav{
    padding: 22px 0px 25px 100px;
}

.header-navbar-item > a{
    margin-left: 66px;

    text-decoration: none;
}

.logo{
    position: absolute;
    top: 10px;

    margin-left: 30px;

    background-color: #fff;

    border-radius: 50%;
}

.basket{
    margin-left: 122px;
    border-left: 1px solid #e1e2e2;
}

.count-items{
    position: absolute;

    width: 22px;
    height: 22px;
    margin-top: -10px;
    margin-left: 3px;

    line-height: 21px;

    text-align: center;
    background-color: #a75133;

    border-radius:50%;
}

.our-price-tag{
    background-color: #f8f8fa;
    min-height: 596px;
    box-shadow: 0px 0px 7px 0px RGBA(0,0,0,0.3);
}

.slide{
    width: 655px;
    margin-left: 20px;
    margin-top: 20px
}

.calculator{
    min-height: 477px;
    margin-top: 45px;
    border: 1px solid #e9e9e9;
    border-top: 8px solid #a75133;
    border-bottom: 8px solid #a75133;

    background-color: #fff;
}

.calculator-content{
    margin:0px 29px;
}

.title-price{
    margin-bottom: 30px;
}

.weight-item{
    height: 48px;
    padding:17px 0px 18px 15px;
    border-right: none;

    border-radius: 0px;

    box-shadow: 0px 1px 5px -2px RGBA(0,0,0,0.3);
}

.weight-item:focus{
    outline: 0;
    border-color: #80bdff;
    box-shadow: -1px 0px 4px 1px rgba(0, 123, 255, 0.25);
}

.input-group > label{
    height: 48px;
    width: 40px;
    padding-top: 8px;
    padding-left: 5px;
    border: 1px solid #e1e2e2;
}

.input-group{
    margin-bottom: 30px;
}

.calc-buttons .gold-button,
.calc-buttons .silver-button
{
    height: 48px;
    width: 72px;
    border: 1px solid #e4e6ed;

    background-color: #fff;

    border-radius: 0px;
    box-shadow: 0px 1px 5px -2px RGBA(0,0,0,0.3);
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus, 
.show > .btn-secondary.dropdown-toggle:focus{
    box-shadow: inset 0 0 1px 2px rgba(255, 255, 255, 0.5);
}

.btn-secondary:focus{
    color: #fff;

    background-color: #545b62;

    border-color: #4e555b;
}

.btn-secondary{
    min-width: 72px;
    min-height: 48px;
}

.gold-title,
.silver-title{
    margin-bottom: 12px;

    float: left;
}

.gold-button{
    float: left;
}

.silver-button{
    float: right;
}

.calc-buttons{
    margin-bottom: 30px;
}

.quality{
    width: 100%;
    height: 48px;
    margin-bottom: 30px;
    border: 1px solid #e4e6ed;

    background-color: #fff;
    
    border-radius: 0px;
    box-shadow: 0px 1px 5px -2px RGBA(0,0,0,0.3);
    float: left;
}

.btn-secondary:hover {
    color: #fff;

    background-color: #5a6268;

    border-color: #545b62;
}
.value{
    width: 100%;
    min-height: 99px;
    padding: 0px;
    border-top: 1px solid #e4e6ed;

    line-height: 90px;

    text-align: center;
}

.next,
.prew{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 19px 19px;
    border: 1px solid #a75133;

    font-size: 14px;

    border-radius: 50%;
    cursor: pointer;
}

.prew::before{
    content: "";

    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #a75133;
    border-width: 0 2px 2px 0;

    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    padding: 4px;
}
.next::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    padding: 4px;
    border: 1px solid #a75133;
    border-width: 0 2px 2px 0;

    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

.slider-panel{
    position: absolute;
    top: 505px;

    margin-left: 15px;

    float: left;
}

.latest-items{
    position: relative;

    align-items: center;
    margin: 90px 32px;
}

.goods{
    align-items: baseline;
    padding-top: 5px; /*Выравнивание */
    margin-left: 50px;
}

.items-wrapper{
    width: 227px;
    padding-top: 40px;
    border: 1px solid #e4e6ed;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.items-wrapper{
    width: 227px;
    padding-top: 40px;
}

.item img{
    margin: 3.5px 48.5px;
}

.title-item,
.sample{
    text-align: center;
}

.title-item{
    margin-top: 25px;
    margin-bottom: 2px;
}

.sample{
    margin-bottom: 30px;
}

.text-items{
    margin-bottom: 60px;
}

.slider-panel-latest{
    position: absolute;
    top: -27px;
    right: 0;
}

.items{
    position: relative;
}

.prew:hover,
.next:hover,
.next:hover::before,
.prew:hover::before{
    border-color: #f19b19;
}

.disabled{
    border-color: #a75133;
    opacity: 0.5;
    cursor: default;
}

.disabled:hover,
.disabled:hover::before{
    color: inherit;

    border-color: #a75133;
}

.step-img{
    margin-bottom: 50px;
}

.text-step{
    padding: 0px 5px;
}

.step::before{
    content: url("../img/arrow.png");

    position: absolute;
    top: 21px;
    left: -20px;
}

.steps-work .step:first-child::before{
    content: none;
}

.fixed{
    padding-top: 7px;
}

.steps-work{
    margin-top: 50px;
}

.how-we-work-title{
    margin-left: 15px;
}

.how-we-work{
    margin-bottom: 80px;
}

.about-us-title{
    margin-bottom: 72px; 
}

.about-us-description{
    margin-bottom: 41px;
}

.about-us{
    margin-bottom: 85px;
}

.main-footer{
    background-color: #f2f1f1;
}

.main-footer .nav{
    flex-direction: row;
    float: left;
}

.main-footer .right-reserved {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
}

.main-footer{
    min-height: 79px;
    padding-top: 20px;
    border: 1px solid #e4e6ed;
}

.main-footer  .nav  .footer-navbar-item:first-child{
    margin: 0px 17px 0 0px;
}

.main-footer  .nav  .footer-navbar-item{
    margin: 0px 17px 0 17px;
}

.right-reserved{
    text-align: right;
}

.wraper-menu{
    display: flex;
    justify-content: center;
}

.wraper-menu label{
    display: flex;
    justify-content: right;
    width: 110px;
}

/* Слайдер */

#slider {
    position: relative; 

    width: 100%; 
    height: 100%; 
    padding: 0; 

    list-style: none;
    overflow: hidden;
}

.slide {
    position: absolute; 
    left:0;

    margin-top: 20px;
    margin-left: 20px;

    transition: all 1s ease-in 0.1s; 
}

.slide img{
    width: 630px; 
    height: 493px; 
    margin: 0 auto;
}

.arrows {
    position: absolute;
    margin-left: 15px;

    float: left;
}

/* Модальное окно */

.modal {
    z-index: 9999;
    top: -170%;
    right: 0;

    display: block;
    width: 615px;
    height: 449px;
    margin: 30px auto;
    border: 1px solid #333;

    background: #fff;

    transition:all 0.6s ease;
    -webkit-transition:all 0.6s ease;
    -moz-transition:all 0.6s ease;
    -ms-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
}

.row-a a{
    margin: 35px 0 0 15px;
}

.row-a a:nth-child(2){
	padding-left: 35px;
}

.modal-title{
	margin: auto;
}

.modal-content{
	border-bottom: none;
}

.modal-body .modal-title{
	margin: 40px auto auto auto;
	padding-left: 13px;
}

.overflow {
    position: absolute; 
    z-index: 9998;
    top: 0;
    
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7); 
}

.closeBtn {
    font-size: 30px; 
    color: black;

	cursor: pointer;
	float: right;
} 

.wrapper_blur{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.modal a{
	font-size: 22px;
	line-height: 24px;
	font-weight: 400;
	color: #a75133;
}

/* Слайдер поступлений */
.slide-item,
.items-wrapper{
    width: 228px;
    height: 300px;
    border: solid 1px #e4e6ed;
    border-right: 1px solid #e4e6ed;

    background-color: #fbfbfb;

    float: left;
}

.slider-out{
    position: relative;

    width: 1140px;
    height: 300px;
    margin-left: -32px;

    overflow: hidden;
}

.slider-items{
    width: 1368px;
    height: 100%;
}
/* Меню на 992px */

.wraper{
    position: relative;

    width: 320px;
    height: 40px;
    text-align: center;
}

#check-menu{
    display: none;
}

.wraper label{
    /* display: block; */
    /* position: absolute; */
    top: 0;
    left: 0;
    /* width: 60px; */
    height: 60px;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
    margin-left: 51px;
    margin-top: -3px;
}

.burger-line{
    position: absolute;
    top: 8px;
    left: 250px;
    width: 35px;
    height: 2px;
    transition: .5s all;
}

.second, .third{
    top: 18px;
}

.fourth{
    top: 28px;
}

.main-menu{
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;

    display: block;
    width: 134%;
    max-height: 0;
    padding-top: 10px;
    margin-left: 14px;

    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
    transform: translateY(100%);

    overflow: hidden;
}

.wraper a{
    display: block;
    width: 100%;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,.3);

    background-color: #fff;

    text-decoration: none;
}

#check-menu:checked ~ .first{
    display: none;
}

#check-menu:checked ~ .second{
    transform: rotate(45deg);
}

#check-menu:checked ~ .third{
    transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth{
    display: none;
}


/* Адаптив на lg */

@media (min-width:1200px){
    .container{
        max-width:1200px;
    }
}

@media (max-width:1199px){
    .phone{
        margin-left: 20px;
    }

    ul .slide  img {
        width: 431px;
        height: 362px;

        margin-top: -5px;
        margin-left: -15px;
    }

    .slider-panel {
        top: 421px;
    }

    .time-work{
        margin-left: 20px;
    }

    .header-nav .header-navbar-item >a{
        margin-left: 0px;
    }

    .header-nav .header-navbar-item:first-child > a{
        margin-left: 66px;
    }

    .header-nav .header-navbar-item:last-child > a{
        margin-left: 50px;
    }

    .basket{
        margin-right: 50px;
        margin-left: 0;
    }

    .header-nav{
        justify-content: space-between;
    }

    .our-price-tag{
        min-height: 510px;
    }

    .calculator{
        margin-top: 15px;
    }

    .slider-out{
        width: 912px;
    }

}

@media (max-width:991px){
    .time-work{
        display: none;
    }

    .header-top .details{
        margin-left: 15px;
    }

    .wrapper-xl:not(.ico-location){
        margin-top: 10px;
    }

    .header-bottom{
        display: none;
    }

    .header-bottom-md{
        display: block;
        height: 68px;
        margin-top: -38px;
    }

    .navbar-toggler-icon{
        width: 24px;
        height: 18px;
        margin-top: -5px;
    }

    .wrapper{
        width: 100%;
        padding-top: 22px;
        margin-top: 0px;
    }

    .mobail-menu{
        margin-left: 10px;
    }

    .ico-basket{
        margin-left: 84px;
    }

    .basket{
        height: 31px;
        padding-top: 7px;
        margin: 0;
    }

    .wrapper .navbar-toggler-icon{
        margin-left: 131px;
    }

    .slider-md-wrap{
        min-height: 450px;
    }

    ul li.slide img{
        width: 582px;
        height: 412px;
        margin-left: auto;
    }

    .slider-panel {
        z-index: 99;

        top: 339px;
    }

    .calculator{
        margin-bottom: 20px;
    }

    .items > .items-wrapper:nth-child(4){ /*Заменить, иначе не будет работать слайдер*/
        display: none;
    }

    .title-latest{
        width: 260px;
    }

    .step:nth-child(3)::before{
        content: "";
    }

    .main-footer .nav .footer-navbar-item {
        margin: 0px 17px 0 -5px;
    }

    .main-footer .right-reserved {
        margin-top: -3px;
    }

    .row-a a:nth-child(2){
        padding-left: 15px ;
    }

    .modal{
        height: 550px;
    }
    .slider-out{
        width: 684px;
    }
}

@media (max-width:767px){
    .details-location{
        padding-right: 15px;
    }

    .details-location{
        display: block;
        width: 51px;
        overflow: hidden;
        white-space: nowrap;

        float: right;
    }

    .phone{
        display: none;
    }

    .location{
        width: 70%;
    }

    .ico-basket{
        padding-left: 4px;
        margin-top: -5px;
        margin-left: 58px;
    }

    .how-we-work-title{
        margin: 0;

        text-align: center;
    }

    .header-top .details{
        margin-right: 15px;
    }
    
    .header-top{
        padding-left: 142px;
    }

    .silver-title{
        padding-left: 14px;
    }

    .modal{
        width: 100%;
    }

    .slider-panel-latest{
        top: 442px;
        right: 0;
        left: 180px;
    }

    .text-items{
        margin-left: 21px;
    }

    .slider-out{
        width: 456px;
        margin-left: 24px;
    }

    .latest-items{
        margin: 45px auto 113px auto;
    }

    ul li.slide img{
        width: 480px;
    }

    .burger-line{
        left: 190px;
    }
}

@media(max-width: 627px){
    .goods{
        margin-left: 25px;
    }
}

@media(max-width: 575px){
    .location{
        width: 50%;
    }

    .ico-basket{
        margin-left: 32px;
    }

    ul li.slide img {
        width: 381px;
        height: 342px;
    }

    .slider-panel{
        left: 144px;
    }

    .copyright{
        margin-left: 9px;
    }
}

@media(max-width: 500px){
    .slider-out{
        width: 229px;
        margin-left: 131px;
    }
}

@media(max-width: 527px){
    .burger-line{
        left: 175px;
    }
}

@media(max-width: 471px){
    .burger-line{
        left: 160px;
    }
}

@media(max-width: 445px){
    .logo{
        margin-left: 0px;
    }
    .header-top{
        padding-left: 113px;
    }

    .location{
        width: 30%;
    }

    .ico-basket{
        padding-left: 0px;
        margin-left: 29px;
    }

    .slider-md-wrap {
        min-height: 357px;
    }

    ul li.slide img {
        width: 46%;
        height: 267px;
    }

    .slider-panel{
        top: 289px;
        left: 135px;
    }

    .silver-title{
        padding-left: 0;
    }

    .gold-title{
        padding-left: 0;
    }

    .slider-panel-latest{
        left: 130px;
    }
    
    .slider-out{
        margin-left: 86px;
    }

    .burger-line{
        left: 164px;
    }
    .mobail-menu{
        display: none;
    }
}

@media(max-width: 332px){
    .mobail-menu{
        display: none;
    }

    .row-a a {
        margin-top: 24px;
    }

    .wrapper .navbar-toggler-icon {
        margin-left: 100px;
    }

    ul li.slide img {
        width: 36%;
        height: 217px;
    }

    .slider-md-wrap {
        min-height: 268px;
        padding: 0;
    }

    .slider-panel {
        top: 217px;
        left: 71px;
    }

    .ico-basket{
        margin-left: 14px;
    }

    .result{
        font-size: 16px;
    }

    .slider-out{
        width: 228px;
        margin-left: 37px;
    }

    .text-items{
        text-align: center;
    }

    .slider-panel-latest{
        left: 75px;
        top: 448px;
    }
}

@media(max-width: 269px){
    .burger-line{
        left: 134px;
    }
}