@media (min-width:1200px){
    .container{
        max-width:1200px;
    }
}

.visually-hidden{
    display: none;
}

header{
    margin-bottom: 26px;
    width: 1200px;
    box-shadow: 0px 0px 6px 0px RGBA(0,0,0,0.3);
}

.main-header > .header-top-wrap,
.main-header > .header-bottom-wrap{
    margin: 0px -15px 0 -15px;
}

a{
    text-decoration: underline;
}

.header-top-wrap{
    background-color: #f2f1f1;
    height: 41px;
    border: 1px solid #e9e9e9;
}

.header-top{
    padding: 6px 0px 10px 169px;
}

.phone{
    margin-left: 125px;
}

.time-work{
    margin-left: 113px;
}

.ico{
    float: left;
    margin-top: 6px;
    width: 9px;
    height: 12px;
}

.location{
    float: left;
    padding-left: 10px;
}

.header-bottom-wrap{
    border: 1px solid #e9e9e9;
    height: 66px;
}

.header-nav{
    padding: 22px 0px 25px 100px;
}

.header-navbar-item > a{
    margin-left: 66px;
    text-decoration: none;
}

.logo{
    position: absolute;
    top: 10px;
    margin-left: 30px;

    background-color: #fff;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.basket{
    margin-left: 100px;
    border-left: 1px solid #e1e2e2;
}

.count-items{
    position: absolute;
    margin-left: 3px;
    margin-top: -10px;
    background-color: #a75133;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 21px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}

.our-price-tag{
    background-color: #f8f8fa;
    height: 596px;
    box-shadow: 0px 0px 7px 0px RGBA(0,0,0,0.3);
}

.slide-1{
    width: 655px;
    margin-left: 20px;
    margin-top: 20px
}

.calculator{
    background-color: #fff;

    height: 477px;
    margin-top: 45px;
    border: 1px solid #e9e9e9;
    border-top: 8px solid #a75133;
    border-bottom: 8px solid #a75133;
}

.calculator-content{
    margin-left: 29px;
    margin-right: 29px;
}

.title-price{
    margin-bottom: 30px;
}

.weight-item{
    padding:17px 0px 18px 15px;
    height: 48px;
    border-right: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;

    box-shadow: 0px 1px 5px -2px RGBA(0,0,0,0.3);
}

.weight-item:focus{
    outline:0;
    border-color: #80bdff;
    box-shadow: -1px 0px 4px 1px rgba(0, 123, 255, 0.25);
}

.input-group > label{
    padding-top: 8px;
    padding-left: 5px;
    height: 48px;
    width: 40px;
    border: 1px solid #e1e2e2;
}

.input-group{
    margin-bottom: 30px;
}

.calc-buttons .gold-button,
.calc-buttons .silver-button
{
    background-color: #fff;
    height: 48px;
    width: 72px;
    border: 1px solid #e4e6ed;
    border-radius: 0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;

    box-shadow: 0px 1px 5px -2px RGBA(0,0,0,0.3);
}

.gold-title,
.silver-title{
    float: left;
    margin-bottom: 12px;
}

.gold-button{
    float: left;
}

.silver-button{
    float: right;
}

.calc-buttons{
    margin-bottom: 30px;
}

.quality{
    background-color: #fff;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    height: 48px;
    border: 1px solid #e4e6ed;
    border-radius: 0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;

    box-shadow: 0px 1px 5px -2px RGBA(0,0,0,0.3);
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}
.value{
    width: 100%;
    border-top: 1px solid #e4e6ed;
    padding:24px 0px;
}

.result-text{
    margin-left: 80px;
}

.next,
.prew{
width: 50px;
height: 50px;
font-size: 14px;
margin: 10px;
padding: 19px 19px;
display: inline-block;
cursor: pointer;
border: 1px solid #a75133;
border-radius: 50%;
}

.prew::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #a75133;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    padding: 4px;
}
.next::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #a75133;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    padding: 4px;
}

.slider-panel{
    position: absolute;
    float: left;
    top: 600px;
    margin-left: 15px;
}

.latest-items{
    margin: 90px 32px;
    align-items: center;
}

.goods{
    padding-top: 5px; /*Выравнивание */
    margin-left: 50px;
    align-items: baseline;
}

.items-wrapper{
    border: 1px solid #e4e6ed;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.items-wrapper{
    width: 227px;
    padding-top: 40px;
}

.item img{
    margin: 3.5px 48.5px;
}

.title-item,
.sample{
    text-align: center;
}

.title-item{
    margin-top: 25px;
    margin-bottom: 2px;
}

.sample{
    margin-bottom: 30px;
}

.text-items{
    margin-bottom: 60px;
}

.slider-panel-latest{
    position: absolute;
    top: 800px;
    margin-left: 1015px;
    float: right;
}

.prew:hover,
.next:hover,
.next:hover::before,
.prew:hover::before{
    border-color: #f19b19;
}

.prew.disabled,
.next.disabled{
    opacity: 0.5;
    cursor: default;
}

/*Для заблокированных кнопок*/
.prew.disabled:hover,
.prew.disabled:hover::before,
.next.disabled,
.next.disabled:hover,
.next.disabled:hover::before{ 
    border-color: #a75133;
}