@media (min-width:1200px){
    .container{
        max-width:1200px;
    }
}

.visually-hidden{
    display: none;
}

body{
    height: 100%;
}

header{
    margin-bottom: 26px;
    width: 1200px;
    box-shadow: 0px 0px 6px 0px RGBA(0,0,0,0.3);
}

.header-bottom-md{
    display: none;
}

.header-bottom{
    margin-top: -25px;
    height: 68px;
}

.main-header > .header-top-wrap,
.main-header > .header-bottom-wrap{
    margin: 0px -15px 0 -15px;
}

a{
    text-decoration: none;
}

.header-top-wrap{
    background-color: #f2f1f1;
    height: 41px;
    border: 1px solid #e9e9e9;
}

.header-top{
    height: 40px;
    padding: 6px 0px 10px 169px;
}

.phone{
    margin-left: 125px;
}

.time-work{
    margin-left: 113px;
}

.ico-location{
    float: left;
    margin-top: 6px;
    width: 9px;
    height: 12px;
}

.location{
    float: left;
    padding-left: 10px;
}

.header-bottom-wrap{
    border: 1px solid #e9e9e9;
    height: 66px;
}

.wrapper-xl{
    height: 35px;
}

.header-nav{
    padding: 22px 0px 25px 100px;
}

.header-navbar-item > a{
    margin-left: 66px;
    text-decoration: none;
}

.logo{
    position: absolute;
    top: 10px;
    margin-left: 30px;

    background-color: #fff;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.basket{
    margin-left: 122px;
    border-left: 1px solid #e1e2e2;
}

.count-items{
    position: absolute;
    margin-left: 3px;
    margin-top: -10px;
    background-color: #a75133;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 21px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}

.our-price-tag{
    background-color: #f8f8fa;
    min-height: 596px;
    box-shadow: 0px 0px 7px 0px RGBA(0,0,0,0.3);
}

.slide{
    width: 655px;
    margin-left: 20px;
    margin-top: 20px
}

.calculator{
    background-color: #fff;

    height: 477px;
    margin-top: 45px;
    border: 1px solid #e9e9e9;
    border-top: 8px solid #a75133;
    border-bottom: 8px solid #a75133;
}

.calculator-content{
    margin-left: 29px;
    margin-right: 29px;
}

.title-price{
    margin-bottom: 30px;
}

.weight-item{
    padding:17px 0px 18px 15px;
    height: 48px;
    border-right: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;

    box-shadow: 0px 1px 5px -2px RGBA(0,0,0,0.3);
}

.weight-item:focus{
    outline:0;
    border-color: #80bdff;
    box-shadow: -1px 0px 4px 1px rgba(0, 123, 255, 0.25);
}

.input-group > label{
    padding-top: 8px;
    padding-left: 5px;
    height: 48px;
    width: 40px;
    border: 1px solid #e1e2e2;
}

.input-group{
    margin-bottom: 30px;
}

.calc-buttons .gold-button,
.calc-buttons .silver-button
{
    background-color: #fff;
    height: 48px;
    width: 72px;
    border: 1px solid #e4e6ed;
    border-radius: 0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;

    box-shadow: 0px 1px 5px -2px RGBA(0,0,0,0.3);
}

.gold-title,
.silver-title{
    float: left;
    margin-bottom: 12px;
}

.gold-button{
    float: left;
}

.silver-button{
    float: right;
}

.calc-buttons{
    margin-bottom: 30px;
}

.quality{
    background-color: #fff;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    height: 48px;
    border: 1px solid #e4e6ed;
    border-radius: 0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;

    box-shadow: 0px 1px 5px -2px RGBA(0,0,0,0.3);
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}
.value{
    width: 100%;
    border-top: 1px solid #e4e6ed;
    padding:24px 0px;
    text-align: center;
}

.next,
.prew{
    width: 50px;
    height: 50px;
    font-size: 14px;
    margin: 10px;
    padding: 19px 19px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #a75133;
    border-radius: 50%;
}

.prew::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #a75133;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    padding: 4px;
}
.next::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #a75133;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    padding: 4px;
}

.slider-panel{
    position: absolute;
    float: left;
    top: 505px;
    margin-left: 15px;
}

.latest-items{
    margin: 90px 32px;
    align-items: center;
}

.goods{
    padding-top: 5px; /*Выравнивание */
    margin-left: 50px;
    align-items: baseline;
}

.items-wrapper{
    border: 1px solid #e4e6ed;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.items-wrapper{
    width: 227px;
    padding-top: 40px;
}

.item img{
    margin: 3.5px 48.5px;
}

.title-item,
.sample{
    text-align: center;
}

.title-item{
    margin-top: 25px;
    margin-bottom: 2px;
}

.sample{
    margin-bottom: 30px;
}

.text-items{
    margin-bottom: 60px;
}

.slider-panel-latest{
    position: absolute;
    right: -25px;
    top: -118px;
}

.items{
    position: relative;
}

.prew:hover,
.next:hover,
.next:hover::before,
.prew:hover::before{
    border-color: #f19b19;
}

.disabled{
    opacity: 0.5;
    cursor: default;
    border-color: #a75133;
}

.disabled:hover,
.disabled:hover::before{
    border-color: #a75133;
    color: inherit;
}

.step-img{
    margin: 60px 68px;
}

.text-step{
    padding: 0px 5px;
}

.step::before{
    content: url("../img/arrow.png");
    position: absolute;
    top: 75px;
    left: -20px;
}

.steps-work .step:first-child::before{
    content: none;
}

.fixed{
    padding-top: 7px;
}

.steps-work{
    margin-top: 50px;
}

.how-we-work-title{
    margin-left: 15px;
}

.how-we-work{
    margin-bottom: 80px;
}

.about-us-title{
    margin-bottom: 72px; 
}

.about-us-description{
    margin-bottom: 41px;
}

.about-us{
    margin-bottom: 85px;
}

.main-footer{
    background-color: #f2f1f1;
}

.main-footer .nav{
    flex-direction: row;
    float: left;
}

.main-footer .right-reserved {
    margin-top: 10px;
}

.main-footer{
    min-height: 79px;
    border: 1px solid #e4e6ed;
    padding-top: 20px;
}

.main-footer  .nav  .footer-navbar-item:first-child{
    margin: 0px 17px 0 0px;
}

.main-footer  .nav  .footer-navbar-item{
    margin: 0px 17px 0 17px;
}

.right-reserved{
    text-align: right;
}

/* Слайдер */

#slider {
    position: relative; 
    overflow: hidden;
    width: 100%; 
    height: 100%; 
    padding: 0; 
    list-style: none;
}
.slide {
    position: absolute; 
    margin-left: 20px;
    margin-top: 20px;
    transition: all 1s ease-in 0.1s; 
    left:0;
}

.slide img{
    width: 630px; 
    height: 493px; 
}
.arrows {
    position: absolute;
    float: left;
    /* top: 600px; */
    margin-left: 15px;
}

/* Адаптив на lg */

@media (max-width:1199px){
    .phone{
        margin-left: 20px;
    }

    ul .slide  img {
        margin-left: -15px;
        margin-top: -5px;

        width: 431px;
        height: 362px;
    }

    .slider-panel {
        top: 421px;
    }

    .time-work{
        margin-left: 20px;
    }

    .header-nav .header-navbar-item >a{
        margin-left: 0px;
    }

    .header-nav .header-navbar-item:first-child > a{
        margin-left: 66px;
    }

    .header-nav .header-navbar-item:last-child > a{
        margin-left: 50px;
    }

    .basket{
        margin-right: 50px;
        margin-left: 0;
    }

    .header-nav{
        justify-content: space-between;
    }

    .our-price-tag{
        min-height: 510px;
    }

    .calculator{
        margin-top: 15px;
    }

    .items > .items-wrapper:first-child{ /*Заменить, иначе не будет работать слайдер*/
        display: none;
    }

    .step-img{
        margin-left: 40px;
        margin-right: 42px;
    }
}

@media (max-width:991px){
    .time-work{
        display: none;
    }

    .header-bottom{
        display: none;
    }

    .header-bottom-md{
        display: block;
        margin-top: -38px;
        height: 68px;
    }

    .navbar-toggler-icon{
        content: url(../img/menu.png);
        width: 24px;
        height: 18px;
        margin-top: -5px;
    }

    .wrapper{
        padding-top: 29px;
    }

    .mobail-menu{
        margin-left: 10px;
    }

    .ico-basket{
        margin-left: 84px;
    }

    .basket{
        margin: 0;
    }

    .wrapper .navbar-toggler-icon{
        margin-left: 131px;
    }

    .slider-md-wrap{
        min-height: 450px;
        margin-left: 62px;
    }

    ul li.slide img{
        width: 582px;
        height: 412px;
    }

    .slider-panel {
        top: 339px;
        z-index: 99;
    }

    .calculator{
        margin-bottom: 20px;
    }

    .items > .items-wrapper:nth-child(4){ /*Заменить, иначе не будет работать слайдер*/
        display: none;
    }

    .title-latest{
        width: 260px;
    }

    .step:nth-child(3)::before{
        content: "";
    }

    .step-img{
        margin: 42px 40px 42px 97px;
    }

    .main-footer .nav .footer-navbar-item {
        margin: 0px 17px 0 -5px;
    }

    .main-footer .right-reserved {
        margin-top: -3px;
    }
}

@media (max-width:767px){
    /* !!!!!!!!!!!!!!!!!!! */
    .main-header,
    .wraper-sm{
        min-width: 100%;
    }

    .phone{
        display: none;
    }

    .location{
        margin-top: 7px;
    }

    .header-top .details{
        margin-top: 6px;
    }

    .ico-basket{
        margin-left: 58px;
        padding-left: 4px;
        margin-top: -5px;
    }

    .ico-location{
        margin-top: 8px;
    }

    .slider-md-wrap{
        margin-left: 31px;
    }

    .slider-panel-latest{
        top: -127px;
        right: -39px;
    }

    .how-we-work-title{
        text-align: center;
        margin:0;
    }

    .step-img{
        margin: 42px 40px 42px 105px;
    }

    .step::before{
        top: 53px;
        left: -10px;
    }

    .step-img:nth-child(4){
        margin-top: 34px;
        margin-bottom: 34px;
    }
}

@media(max-width: 627px){
    .step-img{
        margin: 42px 40px 42px 63px;
    }
    .goods{
        margin-left: 25px;
    }
}

@media(max-width: 575px){
    .location{
        overflow: visible;
    }

    /* .header-top .details{
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 8px;
    } */

    .ico-basket{
        margin-left: 32px;
    }

    .slider-md-wrap{
        margin-left: -6px;
    }

    ul li.slide img {
        width: 381px;
        height: 342px;
    }

    .slider-panel{
        left: 144px;
    }

    .items > .items-wrapper:nth-child(3){ /*Заменить, иначе не будет работать слайдер*/
        display: none;
    }

    .step-img{
        margin: 42px 40px 42px 42px;
    }
}